# AI and RAG Framework
langchain
langchain-community
langchain-ollama
langchain-chroma
tiktoken
langchain-text-splitters

# MLOps Tracking
mlflow

# Backend API
fastapi
uvicorn
python-multipart

pypdf
streamlit